/* agendaDay view */
/* classes for calendars with 7+ rooms tagged with '-7' */

.col-1-day, .col-2-day, .col-1-day-7, .col-2-day-7{
	float:left;
	height: 2000px;
	color: black;
	white-space: nowrap;
	overflow: hidden;
}

.col-1-day, .col-1-day-7 {
	background-color: #65B2D8;
}

.col-1-day {
	text-indent: 3px;
	width: calc(100% - 50px);
}

.col-1-day-7 {
	font-size: 0.8em;
	width: calc(100% - 25px);
	text-indent: 2px;
}

.col-2-day, .col-2-day-7 {
	border-left: 1px solid black;
	text-align: center;
}

.col-2-day {
	width: 49px;
}

.col-2-day-7 {
	width: 24px;
}

.main-day, .office-day, .office-day-7 {
	border-bottom: 1px solid black;
}

.main-day {
	height: 2.4em;
}

.office-day {
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 1px;
}

.office-day-7 {
	font-size: 1.4em;
	padding-bottom: 3px;
	padding-top:3px;
	font-weight: bold;
}

.main-day,  .doctor-day, .icon-day {
	padding: 2px;
}

.icon-day {
	height: 24px;
	width: 24px;
}

.icon-day-7{
	height:20px;
	width: 20px;
	padding-top:3px;
}


@media (max-width:1050px) {
	.col-1-day {
		font-size: 0.8em;
		width: calc(100% - 25px);
	}
	.col-2-day {
		width:24px;
	}
	.icon-day{
		height:20px;
		width: 20px;
		padding-top:3px;
	}
	.office-day {
		font-size: 1.4em;
		padding-bottom: 3px;
		padding-top:3px;
	}
}
 

/* weekAgenda view */
.col-week {
	color: black;
	padding: 3px;
	font-weight: bold;
}


/*creating taller time slots*/
.fc-widget-content .fc-slats td {
	height:4em;
}


/* Adding 3D effect*/
a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end, .col-1-day, .col-1-day-7 {
	box-shadow: inset 0px 0px 23px 2px rgba(146,0,0,0.2);
}

	
