/*calendarStyle.css*/


input#date-picker.hasDatepicker{
	display: none;
}

div#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
	/*div#ui-datepicker-div .ui-datepicker {*/
	top: 32px !important;
}

.fc .fc-toolbar .fc-center button {
	margin: 0px;
}

#calendar {
	overflow: scroll;
	height: 85vh;
	width: 85vw;
	border: 1px solid red;
	/*position: relative;
	top: 15vh;*/
	padding-top: 15px;
}

#calendar, #filter {
	float: left;
}

div.fc-row.fc-week.fc-widget-content {
	height: 140px;
}

/*creating taller time slots*/
.fc-widget-content .fc-slats td {
	height:4em;
}

/*
button.fc-agendaDay-button.fc-button.fc-state-default.fc-corner-right {
	border: 1px solid red;
}*/


/*Appointment modal*/
#add-appt-bg {
	margin: 0px 10px;
}

#add-appt-bg {
	cursor: pointer;
}

#add-appt-btn {
	height: 2.1em;
	width: 2.1em;
}

#dialog{
	display: none;
}

button.ui-dialog-titlebar-close {
	display: none;
}






/**/
/*

*/
/*div.fc-view-container,
.fc-agenda-view .fc-day-grid,
div.fc-row.fc-week.fc-widget-content,
.fc-bg table tbody tr td.fc-day.fc-widet-content.fc-today.fc-state-highlight,
 {
 height: 100%
};

td.fc-axis, 
td.fc-axis.fc-widget-content, 
.fc-time-grid-container, 
.fc-unthemed .fc-divider { 
	display: none
};*/












